<div class="content">

    <%= link_to image_tag(book.image, class: :content_img ), book_path(book) %>

    <div class="content_body">

      <%= link_to book_path(book.id) do %>
        <div class="content_title">
          <%= book.title %>
        </div>
        <div class="content_text">
          <%= book.recommend %>
        </div>
        <% if book.tags.present? %>
          <div class="content_tag">
            <% book.tags.each do |tag| %>
              #<%= tag&.tag_name %>
            <% end %>
          </div>
        <% end %>  
       
       <%# 投稿者以外にお気に入りボタンが表示される %>
        <%# if book.user_id != current_user.id %>
          <%= render partial:'favorites/favorite_form', locals: { book: book } %>
        <%# end %>

      <% end %>

    </div>

</div>