<div class="content">

    <%= link_to image_tag(book.image, class: :content_img ), book_path(book) %>

    <div class="content_body">

      <%= link_to book_path(book.id) do %>
        <div class="content_title">
          <%= book.title %>
        </div>
        <div class="content_text">
          <%= book.recommend %>
        </div>
        <% if book.tags.present? %>
          <div class="content_tag">
            <% book.tags.each do |tag| %>
              #<%= tag&.tag_name %>
            <% end %>
          </div>
        <% end %>  

        <%# 投稿者本人の場合はお気に入りボタンは表示しない 以下どちらもエラーが出る %>
        <%# <% unless current_user.id == book.user_id %>
        <%# <% unless user_signed_in? || current_user.id == book.user_id %>
          <div class="favorite-btn">
            <i class="fas fa-star"></i>
          </div>
        <%# <% end %>

      <% end %>

    </div>

</div>