<div class="main">
  <div class="book-content">

    <%= image_tag @book.image, class: "book_image" %>
    <div class="book_body">
      <div class="book__title">
        <%= @book.title %>
      </div>
      <div class="book__author">
        <%= @book.author %>
      </div>
      <div class="content_tag">
        #笑える #感動
      </div>

      <%# 投稿者本人の場合はお気に入りボタンは表示しない 以下どちらもエラーが出る %>
      <%# <% unless current_user.id == @book.user_id %>
      <%# <% unless user_signed_in? || current_user.id == @book.user_id %>
        <div class="favorite-btn">
          <i class="fas fa-star"></i>
        </div>
      <%# <% end %>

      <div class="book__summary">
        <%= @book.summary %>
      </div>
      <div class="book__recommend">
        <%= @book.recommend %>
      </div>
      <div class="book_body_footer">
        <div class="post-user">投稿者 <%= @book.user.nickname %></div>

        <% if user_signed_in? && current_user.id == @book.user_id %>
          <div class="footer-btn">
            <%= link_to "編集", "#", class: "edit footer__btn " %>
            <%= link_to "削除", "#", class: "delete footer__btn" %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>

